<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/rentals" method="post">
        <div class="form-group">
        <label for="user">회원</label>
        <select name="userId" id="user" class="form-control">
            <option value="">회원선택</option>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${member.name}" />
        </select>
    </div>
        <div class="form-group">
            <label for="book">도서 명</label>
            <select name="bookId" id="book" class="form-control">
                <option value="">상품선택</option>
                <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> <!-- /container -->
</body>
</html>